/* ==========================================================================
  Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #cf4647;
  color: #fff;
  padding: 0.2em 0;

  a {
    font-weight: bold;
    color:  #ffff66;
  }
}