/*================================================================
   col
================================================================*/

.col-left {
  float: left;
  width: 240px;
}

.col-right {
  padding-left: 280px;
}