/*================================================================
   feedback
================================================================*/

.feedback {
  min-width: 240px;
  padding: 10px;
  background-color: rgba(255, 255, 255, .1);
}

.feedback-group {
  margin-bottom: 10px;
}

.feedback-textarea {
  height: 68px;
}

.feedback-controls {
  text-align: right;
}