/*================================================================
   field
================================================================*/

$placeholder-color: red;
$font-size: em(14);

.field {
  display: block;
  width: 100%;
  padding: 10px;
  border: 0 none;
  font-size: $font-size;
  background-color: #fff;
  resize: none;

  @include placeholder($font-size, inherit);
}