/*================================================================
   logo
================================================================*/

.logo {
  @include inline-block;
  width: 210px;
  height: 78px;
}

.logo-link {
  display: block;
}

.logo-img {
  display: block;
  width: 100%;
  height: auto;
}

.logo-text {
  @include absolute-hidden;
}