/*================================================================
   page-header
================================================================*/

.page-header {
  padding-top: 68px;
  padding-bottom: 45px;
  background-color: $theme-color;
}

.page-header-logo {
  float: left;
}

.page-header-slogan {
  padding-top: 20px;
  margin: 0;
  font-weight: normal;
  font-size: rem(25);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  color: $text-color-light;
}