/*================================================================
   page-wrapper
================================================================*/

.page-wrapper {
  position: relative;
  min-height: 100%;
  min-width: 600px;
  overflow: hidden;
  padding-bottom: $page-footer-height;
}