/*================================================================
   page-wrapper
================================================================*/

.page-wrapper {
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  padding-bottom: $page-footer-height;
}