/*================================================================
   page-footer
================================================================*/

.page-footer {
  position: relative;
  height: $page-footer-height;
  min-width: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -$page-footer-height;
  background-color: $theme-color;
}

.page-footer-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: em(24);
  color: #ffb400;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.page-footer-col-right {
  @media only screen and (min-width: 1200px) {
    padding-left: 347px;
  }
}