/*================================================================
   page
================================================================*/

.page {
  width: 100%;
  min-width: 583px; // < 600px fix windows right scrollbar
  height: 100%;
  background-color: #fff;
}