/*================================================================
   page-section
================================================================*/

.page-section {
  padding-top: 40px;
}

.page-section-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: em(24);
  color: $accent-color;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.page-section-darken {
  background-color: $theme-color-second;
}