header.page-header
  .container
    .container-inner
      .col-left
        .logo
          img.logo-img(src="pics/logo.png" alt="Binary Xperts")
          .logo-text Binary Xperts
      .col-right
        h1.page-header-slogan Questions will be answered