section.stock-section.page-section.page-section-darken
  .container
    .container-inner
      h2.page-section-title Акции
      ul.stock
        li.stock-item
          a.stock-link(style="background-image: url(pics/stock/1.jpg)" href="#")
            span.stock-link-text Stock-1 Title
        li.stock-item
          a.stock-link(style="background-image: url(pics/stock/2.jpg)" href="#")
            span.stock-link-text Stock-2 Title
        li.stock-item
          a.stock-link(style="background-image: url(pics/stock/3.jpg)" href="#")
            span.stock-link-text Stock-3 Title
        li.stock-item
          a.stock-link(style="background-image: url(pics/stock/2.jpg)" href="#")
            span.stock-link-text Stock-4 Title
        li.stock-item
          a.stock-link(style="background-image: url(pics/stock/3.jpg)" href="#")
            span.stock-link-text Stock-5 Title